#footer {
    background: rgb(198, 102, 181);
    background: linear-gradient(90deg, rgba(198, 102, 181, 1) 32%, rgba(210, 65, 182, 1) 66%);
    font-size: larger;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#footer p {
    margin: 0px;
}

#footer-text a {
    color: rgb(245, 234, 14);
}

#footer-text a:hover {
    color: white;
}

#footer-flash {
    width: 3rem;
}