#footer {
    background: rgb(198, 102, 181);
    background: linear-gradient(90deg, rgba(198, 102, 181, 1) 32%, rgb(170, 66, 149) 66%);
    font-size: larger;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    position: relative;
    margin-top: auto !important;
    height: 7em;
}

#footer p {
    margin: 0px;
}

#footer-text a {
    color: rgb(245, 234, 14);
}

#footer-text a:hover {
    color: white;
}

#footer-flash {
    width: 3rem;
    margin-top: 0.5rem;
}