.hero-card {
    margin: 1rem;
    border: 3px solid rgb(230, 142, 55);
    border-radius: 5px;
    background: linear-gradient(180deg, rgb(9, 5, 15) 29%, rgb(72, 18, 86) 71%);
    transition: transform 300ms;
    max-height: 25rem;
}

.hero-card:hover {
    transform: scale(1.07);
    
}

#card-name {
    font-size: 180%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(224, 224, 53);

}

#card-img {
    display: block;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    width: 80%;
    height: 80%;
    max-height: 17rem;
    min-height: 17rem;
}

.no-heroes-found {
    font-size: xx-large;
    color: #3dede1;
    margin: 2rem;
    text-align: left;
}