.details-card {
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 120%;
    color: white;
    border: 3px solid rgb(230, 142, 55);
    border-radius: 5px;
    background: linear-gradient(90deg, rgb(9, 5, 15) 29%, rgb(72, 18, 86) 71%);
}

#details-name {
    text-align: center;
    font-size: 3rem;
    color: rgb(224, 224, 53);
    margin-top: 1rem;
}

#details-image {
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: -1.5rem;
    display: block;
    border-radius: 5px;
    -webkit-mask-image: linear-gradient(45deg, rgb(156, 164, 165) 25%, rgba(70, 222, 233, 0.591) 50%, rgb(120, 224, 210) 75%);
    mask-image: linear-gradient(45deg, #000 25%, rgba(67, 222, 214, 0.628) 50%, rgb(160, 160, 160) 75%);
    -webkit-mask-size: 800%;
    mask-size: 800%;
    -webkit-mask-position: 0;
    mask-position: 0;
}

#details-image {
    transition: mask-position 2s ease, -webkit-mask-position 2s ease;
    -webkit-mask-position: 120%;
    mask-position: 120%;
    opacity: 1;
}


#sub-titles {
    color: rgb(224, 224, 53);
    margin-top: 1rem;
    font-size: 130%;
    text-decoration: underline;
    text-align: left;
}

#each-stat-title {
    color: #3dede1;
    margin-bottom: -0.1rem;
}

.st-1 {
    background: linear-gradient(62deg, #f9c5a6 0%, rgb(247, 134, 14) 100%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 1.2rem;
    font-size: 1rem;
    color: black;
    padding-left: 1rem;
}

.st-2 {
    background: linear-gradient(62deg, #a6f9ac 0%, rgb(9, 164, 63) 100%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 1.2rem;
    font-size: 1rem;
    color: black;
    padding-left: 1rem;
}

.st-3 {
    background: linear-gradient(62deg, #f1a6f9 0%, rgb(223, 66, 200) 100%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 1.2rem;
    font-size: 1rem;
    color: black;
    padding-left: 1rem;

}

.st-4 {
    background: linear-gradient(62deg, #a6d9f9 0%, rgb(21, 104, 198) 100%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 1.2rem;
    font-size: 1rem;
    color: black;
    padding-left: 1rem;

}

.st-5 {
    background: linear-gradient(62deg, #ec8a8a 0%, rgb(213, 36, 20) 100%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 1.2rem;
    font-size: 1rem;
    color: black;
    padding-left: 1rem;
}

.st-6 {
    background: linear-gradient(62deg, #e9e9b4 0%, rgb(227, 211, 34) 100%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 1.2rem;
    font-size: 1rem;
    color: black;
    padding-left: 1rem;
}

#small-parts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: -0.5rem;
}

#small-titles {
    margin-right: 0.3rem;
    color: #3dede1;
    text-align: left;
}

#small-info {
    color: rgb(233, 244, 227);
}

.star-icon {
    float: right;
    margin-left: auto;
    margin-right: 0px; 
    margin-top: 0.5rem;
    margin-bottom: -1rem;
}

@media only screen and (max-width: 450px) {

    #details-image {
            width: 15rem;
        }
}