.login-card {
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    font-size: 120%;
    color: white;
    border: 3px solid rgb(230, 142, 55);
    border-radius: 5px;
    background: linear-gradient(90deg, rgb(9, 5, 15) 29%, rgb(72, 18, 86) 71%);
    display: flex;
    justify-content: center;
    align-items: center;

}

.login-welcome {
    color: rgb(224, 224, 53);
    font-size: xx-large;
}

