.navbar {
    margin-top: -2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;

}

#heroes-logo {
    width: 25rem;
    height: 9rem;
    display: flex;
    align-self: flex-start;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
}