.navbar {
    margin-top: -2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#heroes-logo {
    width: 25rem;
    height: 9rem;
    display: flex;
    align-self: flex-start;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    transition: transform 300ms;
}

#heroes-logo:hover {
    transform: scale(1.1)

}

.user-name-top-right {
margin-right: 1rem;
margin-left: auto;
margin-top: -1.5rem;
font-size: larger;
display: flex;
flex-wrap: wrap;
}


#welcome {
    color: rgb(240, 238, 238);
}

#user-name {
    color: #3dede1;
}
