.profile-card {
    margin-right: 3rem;
    margin-left: 3rem;
    margin-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 120%;
    color: white;
    border: 3px solid rgb(230, 142, 55);
    border-radius: 5px;
    background: linear-gradient(90deg, rgb(9, 5, 15) 29%, rgb(72, 18, 86) 71%);
}

#profile-name {
    text-align: center;
    font-size: 3rem;
    color: rgb(224, 224, 53);
    margin-top: 1rem;
}

#profile-picture {
    width: 8rem;
    height: 8rem;
    border: 2px solid rgb(9, 6, 10);
    border-radius: 35px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem;
    display: block;
}

.detail-line {
    display: flex;
    flex-wrap: wrap;
}

#small-title {
    color: #3dede1;
}

#small-detail {
    margin-left: 1rem;
}

.profile-picture-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    width: 6rem;
    background-color: rgb(49, 11, 55);
    height: 2.5rem;
    border: 3px solid rgb(214, 126, 198);
    border-radius: 7px;
    font-size: x-large;
    letter-spacing: 1px;
    color: white;
    margin-bottom: 3rem;
}

.profile-picture-button:hover {
    background-color: rgb(91, 62, 96) !important;
    border: 3px solid rgb(214, 126, 198) !important;
}

.profile-picture-button:active {
    background-color: rgb(59, 47, 59) !important;
    border: 3spx solid rgb(214, 126, 198) !important;
}

#choose-username {
    color: rgb(214, 126, 198);
    margin-left: 1rem;
}

#choose-username:hover {
    color: white
}

#username-button {
    display: block;
    margin-left: 1rem;
    padding: 0px;
    width: 10rem;
    background-color: rgb(49, 11, 55);
    height: 2.5rem;
    border: 3px solid rgb(214, 126, 198);
    border-radius: 7px;
    font-size: x-large;
    letter-spacing: 1px;
    color: white;
}

#username-button:hover {
    background-color: rgb(91, 62, 96) !important;
    border: 3px solid rgb(214, 126, 198) !important;
}

#username-button:active {
    background-color: rgb(59, 47, 59) !important;
    border: 3spx solid rgb(214, 126, 198) !important;
}

#username-modal {
    margin-top: 15rem;
    font-size: 120%;
    color: black;
    border: 2px solid rgb(230, 142, 55);
    border-radius: 5px;
    background: white
}

#username-modal .modal-header {
    border-bottom: 0px;
}

#username-modal .modal-footer {
    border-top: 0px;
    margin-top: -1rem;
}

#username-modal .modal-body {
    border-top: 0px;
    margin-bottom: -1rem;
}

#username-modal .modal-content {
    background-color: rgb(247, 219, 242);
}

#username-modal .modal-title {
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: black;
    margin-bottom: -1.5rem;
}

#username-modal-save {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    padding: 0px;
    width: 5rem;
    background-color: rgb(49, 11, 55);
    height: 2.5rem;
    border: 3px solid rgb(214, 126, 198);
    border-radius: 7px;
    font-size: x-large;
    letter-spacing: 1px;
    color: white;
}

#username-modal-save:hover {
    background-color: rgb(91, 62, 96) !important;
    border: 3px solid rgb(214, 126, 198) !important;
}

#username-modal-save:active {
    background-color: rgb(59, 47, 59) !important;
    border: 3spx solid rgb(214, 126, 198) !important;
}

.username-input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 12rem;
    height: 2.5rem;
    border: 3px solid rgb(214, 126, 198);
    border-radius: 7px;
    font-size: x-large;
    letter-spacing: 1px;
    padding: 8px;
}

.username-input:focus {
    color: rgb(0, 0, 0);
    border: 3px solid rgb(91, 62, 96);
}

#upload-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25rem;
    height: 2.5rem;
    border: 3px solid rgb(214, 126, 198);
    border-radius: 7px;
    letter-spacing: 1px;
    font-size: 1.3rem;
    padding-bottom: 2rem;
    padding-top: -1rem;
}

.fav-card {
    margin: 1rem;
    border: 2px solid rgb(230, 142, 55);
    border-radius: 5px;
    background: linear-gradient(180deg, rgb(0, 0, 1) 29%, rgb(41, 23, 49) 71%);
    transition: transform 300ms;
    max-height: 20rem;
    width: 12rem;
}

.fav-card:hover {
    transform: scale(1.07);

}

#fav-name {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 120%;
    color: rgb(224, 224, 53);

}

#fav-img {
        border-radius: 5px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
        max-height: 13rem;
        min-height: 13rem;
        min-width: 10rem;
        max-width: 10rem;
}

.no-favs-found {
    font-size: x-large;
    color: white;
    margin: 1rem;
    text-align: center;
}

.favorites-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}