.input-bar {
    width: 15rem;
    height: 2.5rem;
    border: 4px solid rgb(214, 126, 198);
    border-radius: 7px;
    font-size: x-large;
    letter-spacing: 1px;
    padding: 8px;
}

.input-bar:focus {
    color: rgb(0, 0, 0);
    border: 4px solid green;
}

.search-button {
    padding: 0px;
    width: 5rem;
    background-color: rgb(49, 11, 55);
    height: 2.5rem;
    border: 4px solid rgb(214, 126, 198);
    border-radius: 7px;
    font-size: x-large;
    letter-spacing: 3px;
    color: white;
    margin-left: 0.5em;
}

.search-button:hover {
    padding: 0px;
    width: 5rem;
    background-color: green;
    height: 2.5rem;
    border: 4px solid rgb(214, 126, 198);
    border-radius: 7px;
    font-size: x-large;
    color: white;
    margin-left: 0.5em;
}

#bar-and-button {
    display: flex;
    justify-content: center;
    margin-top: -1rem;
}