

/* Body */
body {
  margin: 0px !important;
  background-image: url("./components/assets/shooting-stars.png");
  background-repeat: repeat;
  font-family: 'Rajdhani';
  font-weight: normal;
  font-style: normal;
}

/* Navigation Bar */
.navbar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;

}

#heroes-logo {
  width: 25rem;
  height: 9rem;
  display: flex;
  align-self: flex-start;
  margin-left: auto;
  margin-right: auto;
  background-color:transparent;
}

/* Search */
.input-bar {
  width: 15rem;
  height: 2.5rem;
  border: 4px solid rgb(214, 126, 198);
  border-radius: 7px;
  font-size:130%;
  padding: 8px;
}

.search-button {
  padding: 0px;
  width: 5rem;
  background-color: rgb(49, 11, 55);
    height: 2.5rem;
    border: 4px solid rgb(214, 126, 198);
    border-radius: 7px;
    font-size: x-large;
    color: white;
    margin-left: 0.5em;
}

/* Card Place */
.heroes-container {
display: flex;
flex-wrap: wrap;
justify-content:space-evenly;
}

/* Card Styling */
#hero-card {
  margin: 1rem;
  border: 5px solid rgb(230, 142, 55);
}

#footer {
  background-color: rgb(214, 126, 198);
  font-size: larger;
}

#footer p {
  margin: 0px;
}

#testtest a {
  color: rgb(245, 234, 14);
}

#card-name {
font-size: x-large;
display: flex;
justify-content: center;

}