
/* Font */
@font-face {
  font-family: 'HortaRegular';
  src: url('./components/assets/Horta_demo.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Body */
body {
  margin: 0px !important;
  background-image: url("./components/assets/shooting-stars.png");
  background-repeat: repeat;
  font-family: 'HortaRegular';
  font-size: larger;
  letter-spacing: 1px;
  min-height: 100% !important;
  font-weight: normal;
  font-style: normal;
  -webkit-animation: backgroundScroll 15s linear 1;
  -webkit-animation-fill-mode: both;
  animation: backgroundScroll linear 15s 1;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  -webkit-animation-direction: alternate-reverse;
  position: absolute;
}


a:link {
  text-decoration: none;
}

/* Sliding Background */
@keyframes backgroundScroll {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -200px 0px;
  }
}

@-webkit-keyframes backgroundScroll {
  from {
    background-position: 0 0;
  }

  to {
    background-position: -200px 0px;
  }
}

/* Card Place */
.heroes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 1rem;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  flex: 1;
  padding-bottom: 2rem;
             
}

.home  {
      height: 100vh;
      display: flex !important;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      align-content: stretch;
    }

html,
body {
  height: 100% !important;
  width: 100% !important;
}
